version: '3.8'
services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: agro_dev
    ports:
      - "5434:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  api:
    build: .
    environment:
      - DATABASE_URL=postgresql://admin:admin@postgres:5432/agro_dev?schema=public
      - JWT_SECRET=dev_jwt_secret
      - PORT=4000
    ports:
      - "4000:4000"
    depends_on:
      - postgres

volumes:
  pgdata:
