node_modules
dist
.git
.gitignore
logs
*.log
backup*
microservicios
Frontend-Huancavelica-Alertas-Agricolas/node_modules
**/node_modules
**/dist
*.tgz
*.zip
*.tar
\.env
env.local
secrets*
*.sqlite
*.db
/.vscode
/.idea
/.cache
coverage
npm-debug.log*
yarn-error.log*